
<div class="container" style="margin-top:50px">
  <!--First row-->
  <div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2 class="h2-responsive">서울대 입구역, 맛집 2인자를 찾아라</h2>
            <br>
            <p>Big data & Data Crawling 기반 강력한 맛집 탐색 틀</p>
            <hr>
            <p>지금 시작하세요</p>
        </div>
    </div>
</div>
<!--/.First row-->

<hr class="extra-margins">

<!--Second row-->
<div class="row">
    <!--망고 플레이트-->
    <div class="col-md-4">
      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
              <img src="<%= asset_path("mangoplate.jpg") %>" class="img-fluid" alt="" height="350">
              <a href="#">
                  <div class="mask"></div>
              </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
              <!--Title-->
              <h4 class="card-title">망고플레이트</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary" data-toggle="modal" data-target="#mangoplate">2등 찾기</button>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
  </div>
  <!--First columnn-->

  <!--Second columnn-->
  <div class="col-md-4">
      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
              <img src="<%= asset_path("diningcode.jpg") %>" class="img-fluid" alt="" height="350">
              <a href="#">
                  <div class="mask"></div>
              </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
              <!--Title-->
              <h4 class="card-title">다이닝코드</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary" data-toggle="modal" data-target="#diningcode">2등 찾기</button>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
  </div>
  <!--Second columnn-->

  <!--Third columnn-->
  <div class="col-md-4">
      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay hm-white-slight">
              <img src="<%= asset_path("poing.jpg") %>" class="img-fluid" alt="" height="350px">
              <a href="#">
                  <div class="mask"></div>
              </a>
          </div>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-block">
              <!--Title-->
              <h4 class="card-title">포잉</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary" data-toggle="modal" data-target="#poing">2등 찾기</button>
          </div>
          <!--/.Card content-->

      </div>
      <!--/.Card-->
    </div>
    <!--Third columnn-->
  </div>
</div>

<!-- Modal mangoplate -->
<div class="modal fade" id="mangoplate" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">by 망고플레이트</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>

<!-- Modal diningcode -->
<div class="modal fade" id="diningcode" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">by 다이닝코드</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>

<!-- Modal poing -->
<div class="modal fade" id="poing" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">by 포잉</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
