<!DOCTYPE html>
<html>
<head>
  <title>맛집의 2인자</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Material Design Bootstrap</title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">

  <!-- Template styles -->
  <link href="css/style.css" rel="stylesheet">
</head>


<body>
  
  <!--Navbar-->
  <nav class="navbar" style="background-color: #00b89d;">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx">
        <i class="fa fa-bars"></i>
    </button>

    <div class="container">

      <!--Collapse content-->
      <div class="collapse navbar-toggleable-xs" id="collapseEx">
        <!--Navbar Brand-->
        <a class="navbar-brand" href="/" style="font-weight:bold; font-size: 1.1em; padding: 6.8px; color:white;">박명수와 콩진호</a>
        <!--Links-->
        <ul class="nav navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/house/about" style="color:white;">about</a>
          </li>
        </ul>
      <!--/.Collapse content-->

    </div>

  </nav>
  <!--/.Navbar-->

<%= yield %>

<!--Footer-->
    <footer class="page-footer center-on-small-only primary-color-dark">
        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                © 2016 Copyright

            </div>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->


    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>


</body>
</html>
